.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20rem;

    @media screen and(max-width: 1200px) {
        padding: 0 12rem;
    }

    @media screen and(max-width: 1024px) {
        padding: 0 6rem;
    }
    @media screen and(max-width: 900px) {
        padding: 0;
    }
}

.contact {
    p {
        margin-bottom: 4rem;
    }
}

.form-control {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form-row {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-box-pack: space-between;
    position: relative;
}

.form-row:first-of-type .input-group {
    width: 45%;
}

.form-row:not(:last-of-type) {
    margin-bottom: 2rem;
}

.form-row:last-of-type {
    margin-bottom: 4rem;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
        font-size: 1.4rem;
        color: var(--text-secondary);
        margin-bottom: 0.6rem;
    }

    input,
    textarea {
        width: 100%;
        position: relative;
        font-size: 1.6rem;
        padding: 1.2rem 1.6rem;
        color: var(--text-primary);
        border: 1px solid var(--bg-secondary);
        border-radius: var(--border-6);
        background-color: var(--bg-secondary);
        resize: none;

        &:focus {
            transition: 0.4s ease;
            border-color: var(--primary-color);
            box-shadow: var(--shadow-primary);
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }

    ::placeholder {
        color: var(--text-muted);
    }
}

.submited {
    color: var(--primary-color);
}

// Responsive

@media screen and(max-width: 600px) {
    .form-row {
        flex-direction: column;
    }

    .form-row:first-of-type .input-group {
        width: 100%;
    }

    .input-group:first-child {
        margin-bottom: 2rem;

        input {
            padding: 1.6rem;
        }
    }
}
