// Follow by order vertical or horizontal

.vertical {
    position: fixed;
    left: 3rem;
    right: auto;
    bottom: 0;

    .wrapper {
        width: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 0.8rem;

        .item {
            padding: 1rem;
            cursor: pointer;

            svg {
                font-size: 2rem;
            }
            .icon {
                line-height: 1.5;
                color: var(--text-secondary);
                transition: ease-out 200ms;
            }
        }
        .item:hover {
            .icon {
                color: var(--primary-color);
            }
        }
    }

    .wrapper::after {
        content: '';
        height: 10rem;
        margin-top: 1.6rem;
        border-left: 1px solid var(--text-secondary);
    }

    @media screen and (min-width: 1300px) {
        left: 4.6rem;
    }

    @media screen and (max-width: 786px) {
        display: none;
    }
}

// Horizontal social
.horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-bottom: 2rem;

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.4rem;
        list-style: none;
    }
    .item {
        padding: 1rem;
        cursor: pointer;

        svg {
            font-size: 2.8rem;
        }

        .icon {
            color: var(--text-secondary);
            transition: ease-out 200ms;
        }
    }

    .item:hover {
        .icon {
            color: var(--primary-color);
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }

    @media screen and (max-width: 786px) {
        .wrapper {
            gap: 1.8rem;
        }
    }
}
