.wrapper {
    width: 3rem;
    right: 3rem;
    left: auto;
    bottom: 0;
    position: fixed;
}
.contents {
    display: flex;
    align-items: center;
    flex-direction: column;

    a {
        writing-mode: vertical-lr;
        letter-spacing: 1px;
        line-height: 1;

        &:hover {
            color: var(--primary-color);
        }
    }
}
.contents::after {
    content: '';
    height: 10rem;
    margin-top: 1.4rem;
    border-right: 1px solid var(--text-secondary);
}

@media screen and (max-width: 768px) {
    .wrapper {
        display: none;
    }
}
