.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    p {
        font-size: 1.4rem;
        color: var(--text-muted);
        margin-bottom: 0.6rem;
        a {
            font-weight: 600;
            &:hover {
                color: var(--primary-color);
                text-decoration: underline;
            }
        }
    }
}

// .wrapper::before {
//     content: '';
//     padding-top: 5rem;
//     display: block;
//     text-align: center;
//     border-top: var(--divider);
// }
