.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 9999;
    cursor: pointer;
    background: transparent;
    color: var(--text-primary);
}
