.container {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    height: var(--nav-height);
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(4px);
    -webkit-box-pack: justify;
    -webkit-backdrop-filter: blur(4px);
    transition: var(--transiton);
}

.bg-fill {
    background: var(--bg-blur);
}

.wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 4.4rem;
    height: 4.4rem;

    svg {
        color: var(--primary-color);
        fill: none;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
}

// Nav actions
.actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    .links {
        display: flex;
        list-style: none;
        -webkit-box-align: center;
        counter-reset: item;
    }

    .item {
        margin: 0 6px;
        font-weight: 500;
        position: relative;

        a {
            line-height: 2;
            padding: 0.8rem 1.2rem;
            color: var(--text-secondary);
            &:hover {
                color: var(--primary-color);
            }
        }
        a::before {
            counter-increment: item;
            content: '0' counter(item) '.';
            margin-right: 5px;
            color: var(--primary-color);
            font-size: 1.5rem;
            font-weight: 400;
            text-align: right;
        }
    }

    .music {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
            color: var(--primary-color);
        }
        .active {
            color: var(--primary-color);
        }
        svg {
            font-size: 2rem;
        }
    }

    .dark-mode {
        display: flex;
        align-items: center;
        color: var(--text-secondary);
        cursor: pointer;
        padding: 1rem;
        border-radius: 5rem;
        margin-right: 1rem;

        &:hover {
            color: var(--primary-color);
        }

        svg {
            width: 2rem;
            height: 2rem;
        }
    }
    .moon {
        rotate: -34deg;
    }
    // Actions
    @media screen and (max-width: 786px) {
        display: none;
    }
}

.scroll-down {
    transform: translateY(calc(var(--nav-height) * -1));
    // transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.scroll-up {
    box-shadow: var(--nav-shadow);
}

// Responsive sidebar
@media screen and (min-width: 1300px) {
    .container {
        padding: 0 5rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0 3rem;
    }
}
