.sidebar {
    width: 5rem;
    height: 5rem;
    margin-right: -1.4rem;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bg-animate {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: var(--sidebar-width);
    position: fixed;
    background: var(--bg-sidebar);
}

.inner {
    width: var(--sidebar-width);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: transparent;
    box-shadow: var(--nav-shadow);
    z-index: 9;
    overflow: hidden;
}
.links {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
    counter-reset: item;
}

.item {
    padding: 1.2rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
        font-size: 1.8rem;
        color: var(--text-secondary);
        letter-spacing: 1px;
    }
    .active {
        color: var(--primary-color);
    }
}

.item::before {
    display: block;
    counter-increment: item;
    content: '0' counter(item) '.';
    margin-right: 5px;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: right;
}

.actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.dark-mode {
    display: flex;
    align-items: center;
    color: var(--text-secondary);
    cursor: pointer;
    padding: 1rem;
    border-radius: 5rem;

    svg {
        font-size: 2.6rem;
    }

    &:hover {
        color: var(--primary-color);
    }

    .moon {
        rotate: -14deg;
    }
}

// Sidebar - Responsive

@media screen and (min-width: 786px) {
    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .inner,
    .bg-animate {
        width: 100%;
    }
    .item {
        a {
            font-size: 2.2rem;
        }
    }
    .item::before {
        font-size: 1.8rem;
    }

    .actions {
        padding-bottom: 6rem;
    }
}
