.wrapper {
    padding: 10rem 0;
}
.heading {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.heading-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    white-space: nowrap;

    color: var(--text-primary);
    font-size: var(--fs-heading);
}

.heading-title::before {
    counter-increment: section;
    content: '0' counter(section) '.';

    bottom: -2px;
    margin-right: 1rem;
    position: relative;
    font-weight: 400;
    color: var(--primary-color);
    font-size: var(--fs-subtitle);
}

.heading-divider {
    display: block;
    width: 30rem;
    margin-left: 2rem;
    border-top: var(--divider);
}

@media screen and(max-width: 600px) {
    .heading-divider {
        display: none;
    }
}
